---
Checks: '-*,bugprone-*,clang-analyzer-*,misc-*,readability-*'
HeaderFileExtensions:         ['h']
ImplementationFileExtensions: ['c']
HeaderFilterRegex:   ''
FormatStyle:         none
InheritParentConfig: false
UseColor:            true
User:                false
WarningsAsErrors:                         
...

TODO: -p path/to/compile_commands.json???