---
AlignConsecutiveMacros:
  Enabled: true 
  AcrossEmptyLines: false
  AcrossComments: false
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BasedOnStyle: ''
BitFieldColonSpacing: Both
BraceWrapping:
  AfterCaseLabel:  true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterFunction:   true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: false
  BeforeElse:      true
  BeforeWhile:     true
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
CommentPragmas: '/\*\*[\s\S]*?\*/'
ColumnLimit: 0
ForEachMacros: [ECU_DLIST_FOR_EACH, ECU_DLIST_CONST_FOR_EACH]
IndentCaseBlocks: false
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
PPIndentWidth: -1
QualifierAlignment: Left
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  BeforeNonEmptyParentheses: false
SpaceBeforeSquareBrackets: false
SpacesInContainerLiterals: false
SpacesInParens: Custom
SpacesInParensOptions:
    InConditionalStatements: false
    InCStyleCasts: false
    InEmptyParentheses: false
    Other: false
SpacesInSquareBrackets: false
TabWidth: 4
WhitespaceSensitiveMacros: [ECU_STATIC_ASSERT, ECU_RUNTIME_ASSERT]